.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  box-sizing: border-box;
  overflow-x: hidden !important;
  height: 100%;
}

.main {
  max-width: 70ch;
  display: flex;
  flex-direction: column;
  line-height: 1.75;
  font-size: 1.25rem;
  min-width: 300px;
  color: #2b2a2a;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .main {
    max-width: 100% !important;
    min-width: 100% !important;

  }
}

.contentBox {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 5px;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.centered {
  align-items: center;
}

.centeredVertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  height: 25vh;
  white-space: normal !important;
  padding: 0 2rem;
}

.noSelect {
  -webkit-touch-callout: none;  
    -webkit-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}