.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    min-height: 100vh;
    box-sizing: border-box;
    overflow:auto;
  }
  
  .main {
    max-width: 70ch;
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    font-size: 1.25rem;
    min-height: 100vh;
    min-width: 350px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
