.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  max-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  padding: auto;
  line-height: 1.75;
  font-size: 1.25rem;
}
