.Portfolio__linkBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fcfcfc;
  max-height: 3rem;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  min-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

@media screen and (max-width: 700px) {
  .Portfolio__linkBar {
    flex-direction: column;
    max-height: none;
  }
  .Portfolio__project {
    white-space: normal !important;
    padding: 0 auto;
    max-width: 300px;
  }
  .Portfolio__projectButtons {
    flex-direction: column;
  }
}

.Portfolio__linkBar_link {
  padding: 0 0.25rem;
  text-decoration: none !important;
}

.Portfolio__linkBar_link:hover {
  color: white;
  padding: 0 0.25rem;
  background-color: #151e3c;
}

.Portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 0.5em 2em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

.Portfolio__project_morePadding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 2em 2em 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

.Portfolio__project_video {
  width: 100% !important;
  height: auto !important;
}

.Portfolio__project_link {
  color: #000c79;
}

.Portfolio__project_link:hover {
  text-decoration: underline;
}

.Portfolio__projectButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.Portfolio__columns_button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20ch;
  height: 150px;
  border: 1px solid #2b333628;
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  color: #ffffff;
  text-shadow: .1em 1px 0 #151e3c, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
  border-radius: 10px;
  box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);
  cursor: pointer;
}

.Portfolio__columns_button:hover {
  -webkit-animation: shadowHover 0.0125s normal 1 forwards;
  -moz-animation: shadowHover 0.0125s normal 1 forwards;
  -ms-animation: shadowHover 0.0125s normal 1 forwards;
  -o-animation: shadowHover 0.0125s normal 1 forwards;
  animation: shadowHover 0.125s normal 1 forwards;
}

@keyframes shadowHover {
  0% {
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
  }
  100% {
    box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
    transform: scale(1.02);
  }
}

.Portfolio__columns_button_subtitle {
  display: inline-block;
  width: 100%;
  height: 15px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  text-shadow: .1em 1px 0 #151e3c .2em 2px 0 hsl(500 100% 100%);
  color: white;
  margin: 0;
  line-height: 0px;
  text-decoration: none !important;
}

.Portfolio__columns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.Portfolio__column_header {
  font-size: 1em;
  font-weight: bold;
  color: #151e3c;
  width: 100%;
}

.Portfolio__column {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e6ecf8;
  width: 50%;
  text-align: center;
}

.Portfolio__column_1 {
  border-left: none !important;
}

.Portfolio__columns_list {
  list-style: none;
  font-size: 1em;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.Portfolio__project_header {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1rem;
}

.Portfolio__project_title {
  font-size: 1.5em;
  color: #151e3c;
  margin-top: 1rem;
  text-align: center;
  font-family: Roboto, sans-serif;
}