.Portfolio__linkBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fcfcfc;
  max-height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  min-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Portfolio__linkBar_link {
    padding: 0 .25rem;
}

.Portfolio__linkBar_link:hover {
    color: white;
    padding: 0 .25rem;
    background-color: #2b2a2a;
}

.Portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Portfolio__project_video {
  width: 100%    !important;
  height: auto   !important;
}

.Portfolio__project_link {
  color: #000c79
}

.Portfolio__project_link:hover {
  text-decoration: underline;
}

